SOLANA_RPC_URL=https://api.devnet.solana.com
KOL_TOKEN_MINT=8w48v3SxPqZWBgAWCPf7muTckPu5cP5UvJQ2ta8rt71s
PROGRAM_ID=aEZUE9ooMZ81eMMFppHzsPVYWxhiNMUjf7eDLATDZtT
HOST=0.0.0.0
PORT=9000
ENV=development
SECRET_KEY=change-me-to-a-random-string
